# Configuración del AS400
AS400_HOST=PUB400.COM
AS400_USER=LUINOSZ
AS400_PASS=V4l3ritO+

# Configuración de Base de Datos
AS400_DB_CONN="DRIVER={IBM i Access ODBC Driver};SYSTEM=PUB400.COM;UID=LUINOSZ;PWD=V4l3ritO+"

# Rutas de Librerías (Opcional)
AS400_LIB_DIR=./lib
